@font-face {
  font-family: 'iconsFont';
  src:  url('../../fonts/iconsFont.eot?n5tbkc');
  src:  url('../../fonts/iconsFont.eot?n5tbkc#iefix') format('embedded-opentype'),
    url('../../fonts/iconsFont.ttf?n5tbkc') format('truetype'),
    url('../../fonts/iconsFont.woff?n5tbkc') format('woff'),
    url('../../fonts/iconsFont.svg?n5tbkc#iconsFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-bookmark-1:before {
  content: "\e924";
}
._icon-pin-2:before {
  content: "\e925";
}
._icon-communications-2:before {
  content: "\e926";
}
._icon-heart:before {
  content: "\e927";
}
._icon-dental:before {
  content: "\e928";
}
._icon-surgery:before {
  content: "\e929";
}
._icon-stethoscope:before {
  content: "\e92a";
}
._icon-test-2:before {
  content: "\e92b";
}
._icon-hospital:before {
  content: "\e92c";
}
._icon-test:before {
  content: "\e923";
}
._icon-acne:before {
  content: "\e900";
}
._icon-anesthesia:before {
  content: "\e901";
}
._icon-apple:before {
  content: "\e902";
}
._icon-bath:before {
  content: "\e903";
}
._icon-blood:before {
  content: "\e904";
}
._icon-breast:before {
  content: "\e905";
}
._icon-broken-bone:before {
  content: "\e906";
}
._icon-cardiology:before {
  content: "\e907";
}
._icon-certification:before {
  content: "\e908";
}
._icon-dna:before {
  content: "\e909";
}
._icon-doctor:before {
  content: "\e90a";
}
._icon-dumbell:before {
  content: "\e90b";
}
._icon-ear:before {
  content: "\e90c";
}
._icon-endoscope:before {
  content: "\e90d";
}
._icon-facial:before {
  content: "\e90e";
}
._icon-feminism:before {
  content: "\e90f";
}
._icon-hand:before {
  content: "\e910";
}
._icon-hormone:before {
  content: "\e911";
}
._icon-kidneys:before {
  content: "\e912";
}
._icon-man:before {
  content: "\e913";
}
._icon-massage:before {
  content: "\e914";
}
._icon-microscope:before {
  content: "\e915";
}
._icon-mri:before {
  content: "\e916";
}
._icon-nail:before {
  content: "\e917";
}
._icon-neuron:before {
  content: "\e918";
}
._icon-pediatrician:before {
  content: "\e919";
}
._icon-peeler:before {
  content: "\e91a";
}
._icon-physiotherapy:before {
  content: "\e91b";
}
._icon-rash:before {
  content: "\e91c";
}
._icon-rating:before {
  content: "\e91d";
}
._icon-stomach:before {
  content: "\e91e";
}
._icon-stones:before {
  content: "\e91f";
}
._icon-thyroid:before {
  content: "\e920";
}
._icon-tomography:before {
  content: "\e921";
}
._icon-x-ray:before {
  content: "\e922";
}
