@charset "UTF-8";
.wrapper {
  position: relative;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

body {
  color: #193B67;
}

a {
  color: #193B67;
}

a:hover, a:active, a:focus {
  color: #193B67;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.language-menu {
  position: relative;
}

.language-menu__on {
  padding: 12px 15px;
  background: #F3F7FA;
  border-radius: 5px;
  position: relative;
}

.language-menu__header {
  position: relative;
  padding: 0 28px 0 30px;
  font-size: 16px;
  color: #8591A3;
}

.language-menu__header::before, .language-menu__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
}

.language-menu__header::before {
  left: 0;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  background: url("../../img/russia.svg") center no-repeat;
}

.language-menu__header::after {
  right: 0;
  background: url("../../img/arrow-down.svg") center no-repeat;
}

.language-menu__header:hover {
  cursor: pointer;
}

.language-menu__items {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-top: 4px;
  width: 100%;
  background: #193B67;
  font-size: 16px;
  color: #8591A3;
  border-radius: 0 0 5px 5px;
}

.language-menu__item {
  padding: 5px 0 5px 15px;
}

.language-menu__item:hover {
  cursor: pointer;
  background: #235390;
  color: #ffffff;
}

.language-menu__item:last-child {
  border-radius: 0 0 5px 5px;
}

.language-menu__item_span {
  padding: 5px 28px 5px 30px;
  position: relative;
  display: block;
}

.language-menu__item_span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  left: 0;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.language-menu__item_span_RU::before {
  background: url("../../img/russia.svg") center no-repeat;
}

.language-menu__item_span_UK::before {
  background: url("../../img/united-kingdom.svg") center no-repeat;
}

.circle_layout {
  background-color: transparent;
  background: url("../../img/point.svg") center no-repeat;
  position: absolute;
  left: 0px;
  top: -50px;
  width: 46px;
  height: 46px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  position: relative;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  background: #bccbd7;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.swiper-pagination-bullet-active {
  width: 24px;
  background: #193B67;
  -webkit-transition: width .3s ease 0s;
  transition: width .3s ease 0s;
}

.swiper-button {
  display: block;
  width: 36px;
  height: 36px;
  background: url("../../img/white-arrow.svg") center no-repeat, #193B67;
  border-radius: 100%;
  top: 20%;
}

.swiper-button::after {
  display: none;
}

.swiper-button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button:hover {
  cursor: pointer;
  background: url("../../img/white-arrow.svg") center no-repeat, #C31C22;
}

.card {
  padding: 52px 30px 30px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  background: #FBFBFC;
  border-radius: 5px;
  position: relative;
  margin: 0 15px 15px 0;
}

.card__img {
  padding: 17px;
  background: #fff;
}

.card::before {
  counter-increment: myCounter;
  display: block;
  content: counter(myCounter);
  position: absolute;
  top: 25px;
  right: 25px;
  width: 56px;
  height: 56px;
  font-size: 57px;
  color: #F5F5F8;
}

.card:nth-child(-n+9):before {
  content: "0" counter(myCounter);
}

.card:nth-child(4n+4) {
  margin-right: 0;
}

.card__icon {
  width: 84px;
  height: 84px;
  background: #fff;
  position: relative;
}

.card__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  counter-reset: myCounter;
}

.card__title {
  margin: 35px 0 10px 0;
  font-size: 21px;
  line-height: 125%;
}

.card__text {
  font-size: 14px;
  line-height: 140%;
  color: #454F5C;
}

.card__more {
  display: none;
}

.card.active {
  background: #C31C22;
  -webkit-box-shadow: 0px 0px 41px rgba(126, 18, 22, 0.49);
          box-shadow: 0px 0px 41px rgba(126, 18, 22, 0.49);
}

.card.active::before {
  color: #C73439;
}

.card.active .card__img {
  background: #C73439;
}

.card.active .card__title {
  color: #fff;
}

.card.active .card__text {
  color: #fff;
}

.card.active .card__more {
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  margin-top: 25px;
  position: absolute;
  background: #C31C22;
  padding: 25px 30px 30px 30px;
  -webkit-transform: translateY(95%);
          transform: translateY(95%);
  z-index: 10;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0px 39px 37px rgba(126, 18, 22, 0.3);
          box-shadow: 0px 39px 37px rgba(126, 18, 22, 0.3);
}

.card.active .card__more::before {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
  right: 30px;
  width: 12px;
  height: 12px;
  background: url(../../img/white-vector.svg) center no-repeat;
}

.card.active .card__icon {
  background: #C73439;
}

.card.active .card__icon::before {
  color: #ffffff;
}

.clinics__title {
  font-size: 50px;
  line-height: 62.5px;
  color: #193B67;
  font-size: 30px;
  line-height: 113%;
}

.clinics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25.6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clinics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 10px 10px 25px 10px;
  background: #FFFFFF;
  border: 1px solid #DFE8EE;
  border-radius: 5px;
}

.clinics__name {
  font-size: 16px;
  line-height: 130%;
  color: #193B67;
  margin-top: 20px;
}

.clinics__address {
  font-size: 14px;
  line-height: 130%;
  color: #8591A3;
  margin-top: 5px;
}

.clinics__address::before {
  color: #193B67;
  padding-right: 5px;
  font-size: 13px;
}

.clinics__buttons {
  margin-top: 30px;
}

.clinics__button {
  font-size: 12px !important;
  line-height: 155%;
  display: inline-block;
  background: #193B67;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 21.7px;
  padding: 13px;
  position: relative;
}

.clinics__button:hover, .clinics__button:active, .clinics__button:focus {
  color: #fff;
}

.clinics__button:nth-child(1) {
  padding-left: 35px;
}

.clinics__button:nth-child(1)::before {
  position: absolute;
  top: 14px;
  left: 20px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.clinics__button:hover {
  background: #C31C22;
}

.side-menu {
  background: #FFFFFF;
  border: 1px solid #ECF1F6;
  -webkit-box-shadow: 0px 8px 20px rgba(25, 59, 103, 0.03);
          box-shadow: 0px 8px 20px rgba(25, 59, 103, 0.03);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.side-menu__item {
  padding: 20px 35px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid  #ECF1F6;
}

.side-menu__text {
  position: relative;
  display: block;
  padding-left: 60px;
  line-height: 40px;
}

.side-menu__text::before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
}

.side-menu__text:hover {
  color: #C31C22;
  cursor: pointer;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.header__address {
  display: block;
  position: relative;
  padding-left: 43px;
}

.header__address::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../../img/pin.svg") center no-repeat;
}

.header__label {
  font-size: 14px;
  line-height: 17.5px;
  color: #8591A3;
  margin-bottom: 2px;
}

.header__schedule {
  display: block;
  position: relative;
  padding-left: 43px;
}

.header__schedule::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../../img/clock.svg") center no-repeat;
}

.header__button {
  padding: 17px 28px 15px 28px;
  border: 2px solid #193B67;
  color: #193B67;
  border-radius: 5px;
}

.header__button:hover {
  background: #193B67;
  color: #ffffff;
}

.header__button:hover .header__button_text::before {
  background: url("../../img/phone-white.svg") center no-repeat;
}

.header__button_text {
  display: block;
  font-size: 14px;
  line-height: 20.3px;
  position: relative;
  padding-left: 26px;
}

.header__button_text::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../../img/phone.svg") center no-repeat;
}

.header__navigate {
  border-top: 1px solid #F3F7FA;
  border-bottom: 1px solid #F3F7FA;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__item {
  padding: 25px 15px;
}

.header__menu__item:hover {
  color: #ffffff;
  background: #193B67;
  cursor: pointer;
}

.submenu__header {
  position: relative;
  padding-right: 25px;
}

.submenu__header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background: url("../../img/arrow-down.svg") center no-repeat;
}

.footer {
  background: #19304C;
  color: #ADBAC9;
  padding: 0 0 53px 0;
}

.footer__map {
  height: 600px;
}

.footer__footer {
  padding-top: 70px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__row:last-child {
  margin-top: 65px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column_social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__links {
  color: #ADBAC9;
  margin-bottom: 30px;
}

.footer__links:hover {
  color: #7086a1;
}

.footer__links:last-child {
  margin-bottom: 0;
}

.footer__label {
  margin-bottom: 10px;
}

.footer__text {
  font-size: 14px;
  line-height: 16.8px;
  color: #fff;
}

.footer__text_address {
  font-size: 16px;
  line-height: 19.2px;
}

.footer__text_numbers {
  font-size: 20px;
  line-height: 24px;
}

.footer__copyright {
  color: #4A5E7B;
  font-size: 12px;
  line-height: 14.4px;
}

.footer__social {
  display: block;
  margin-right: 14px;
  width: 40px;
  height: 40px;
}

.footer__social_facebook {
  background: url("../../img/facebook.svg") center no-repeat;
}

.footer__social_facebook.active {
  background: url("../../img/facebook-active.svg") center no-repeat;
}

.footer__social_telegramm {
  background: url("../../img/telegramm.svg") center no-repeat;
}

.footer__social_telegramm.active {
  background: url("../../img/telegramm-active.svg") center no-repeat;
}

.footer__social_instagramm {
  background: url("../../img/instagramm.svg") center no-repeat;
}

.footer__social_instagramm.active {
  background: url("../../img/instagramm-active.svg") center no-repeat;
}

.footer__phone {
  margin-bottom: 7px;
}

.map__card {
  padding: 23px 72px 24px 24px;
  position: relative;
}

.map__card::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../../img/rectangle.svg") center no-repeat;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.map__img {
  margin-bottom: 19px;
}

.map__label {
  margin-bottom: 5px;
  font-size: 13px;
  color: #8591A3;
}

.map__text {
  display: block;
  margin-bottom: 17px;
  color: #19304C;
  font-size: 16px;
}

.map__text_medion {
  font-size: 20px;
}

.map__text_address {
  line-height: 20px;
}

.search {
  padding: 60px 0 92px 0;
  background-size: cover;
}

.search__search {
  padding: 10px 10px 10px 30px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 19px 28px rgba(25, 59, 103, 0.02);
          box-shadow: 0px 19px 28px rgba(25, 59, 103, 0.02);
  border-radius: 5px;
}

.search__input {
  color: #8591A3;
  position: relative;
  padding: 0 0px 0 36px;
  display: block;
  background: url("../../img/loupe.svg") center no-repeat;
  background-position: 0 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.search__button {
  padding: 12px 30px;
  background: #193B67;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 40px;
}

.search__button:hover {
  cursor: pointer;
}

.search__content {
  max-width: 938px;
}

.search__slider {
  text-align: center;
  margin-top: 154px;
}

.search__title {
  font-size: 50px;
  line-height: 62.5px;
  color: #193B67;
  margin-bottom: 16px;
}

.search__subtitle {
  font-size: 18px;
  line-height: 27.9px;
  color: #454F5C;
  margin-bottom: 192px;
}

.about {
  padding: 100px 0 61px 0;
  background: url("../../img/ellipse.svg");
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-color: #FBFBFC;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-width: 0;
  max-height: 570px;
}

.about__header {
  font-size: 50px;
  line-height: 62.5px;
  color: #193B67;
}

.about__text {
  font-size: 16px;
  line-height: 25,6px;
  margin: 30px 0 45px 0;
  padding-right: 170px;
}

.about__text_text {
  margin-bottom: 20px;
}

.about__sendbtn {
  display: inline-block;
  display: inline-block;
  background: #193B67;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 21.7px;
  padding: 19px 32px;
  margin-top: 64px;
}

.about__sendbtn:hover, .about__sendbtn:active, .about__sendbtn:focus {
  color: #fff;
}

.about__sendbtn span {
  padding-right: 35px;
  position: relative;
}

.about__sendbtn span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: url("../../img/send.svg");
}

.about__slider {
  min-width: 0;
}

.about__navigation {
  top: 50% !important;
}

.why {
  padding: 100px 0 134px 0;
}

.why__header {
  font-size: 50px;
  line-height: 62.5px;
  color: #193B67;
  margin-bottom: 45px;
}

.why__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #EFF4F7;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
  border-radius: 5px;
  padding: 40px 0 0 0;
}

.why__text {
  padding: 0 35px;
  font-size: 21px;
  line-height: 29.4px;
}

.why__imageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.why__image {
  max-width: 100%;
}

.stocks {
  padding-bottom: 70px;
  background: url(../../img/stocks-bg.jpg) bottom no-repeat;
  background-size: contain;
}

.stocks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.stocks__header {
  font-size: 50px;
  line-height: 62.5px;
  color: #193B67;
}

.stocks__button {
  padding: 12px 24px;
  display: inline-block;
  background: #193B67;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 21.7px;
}

.stocks__button:hover, .stocks__button:active, .stocks__button:focus {
  color: #fff;
}

.stocks__slider {
  overflow: visible;
}

.stocks__slide {
  background: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 30px 20px;
  border: 2px solid #ECF1F6;
  border-radius: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.stocks__date {
  display: block;
  margin: 24px 0  13px 0;
  font-size: 14px;
  line-height: 18.9px;
  color: #8591A3;
}

.stocks__text {
  max-width: 320px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 27px;
}

.stocks__navigation {
  top: 50% !important;
}

.stocks__navigation_next {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.stocks__navigation_prev {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.stocks__wrapper {
  overflow: visible;
}

.stocks__pagination {
  margin-top: 50px;
}

.directions {
  padding: 100px 0 120px 0;
}

.directions__header {
  font-size: 50px;
  line-height: 62.5px;
  color: #193B67;
  margin-bottom: 50px;
  max-width: 49%;
}

.directions__icon {
  width: 84px;
  height: 84px;
  background: #fff;
  position: relative;
}

.directions__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search {
  background: url("../../img/search-bg-2.jpg") center no-repeat;
  background-size: cover;
}

.search__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 60px;
}

.search__navigation_item {
  padding: 0 15px;
  color: #ADBAC9;
  font-size: 14px;
  line-height: 113%;
}

.search__navigation_item:nth-child(1) {
  padding-left: 0;
  border-right: 1px solid #ADBAC9;
}

.search__header {
  font-size: 50px;
  line-height: 62.5px;
  color: #193B67;
  margin-top: 60px;
  max-width: 65%;
}

.search__subheader {
  font-size: 16px;
  line-height: 155%;
  color: #454F5C;
  max-width: 60%;
}

.services {
  padding: 60px 0 150px 0;
  position: relative;
}

.services__blueBlock {
  top: 0;
  background: #FBFBFC;
  position: absolute;
  z-index: -1;
  display: block;
  width: 90%;
  height: 120%;
  margin-top: 121px;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.services__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22.88%;
          flex: 0 0 22.88%;
}

.services__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 73.73%;
          flex: 0 1 73.73%;
  counter-reset: myCounter;
  list-style: none;
  margin-bottom: 30px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 25px;
}

.services__item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__item_title span {
  font-size: 12px;
  line-height: 155%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8591A3;
}

.services__item::after {
  counter-increment: myCounter;
  display: block;
  content: counter(myCounter);
  position: absolute;
  top: 16px;
  right: 28px;
  font-size: 35px;
  line-height: 155%;
  text-transform: uppercase;
  color: #8591A3;
}

.services__item:nth-child(-n+9):after {
  content: "0" counter(myCounter);
}

.services__item_row {
  position: relative;
  background: #19304C;
  border-radius: 5px 5px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-size: 20px;
  line-height: 155%;
  padding: 19px 120px 21px 86px;
}

.services__item_row::before {
  position: absolute;
  top: 19px;
  left: 28px;
  font-size: 48px;
}

.services__item_more {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  line-height: 10px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-right: 27px;
}

.services__item_more::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: url("../../img/white-vector.svg") center no-repeat;
}

.services__item_more:hover {
  cursor: pointer;
}

.services__item_more.active::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.services__sublist {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #ECF1F6;
  border-radius: 0px 0px 5px 5px;
  padding: 28px 0;
}

.services__sublist_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28.62px;
  padding: 0 28px;
}

.services__sublist_item:last-child {
  margin-bottom: 0;
}

.services__sublist_item hr {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 36.6%;
          flex: 1 1 36.6%;
  border-bottom: 1px solid #F3F7FA;
}

.services__sublist_item_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item_text {
  font-size: 14px;
  line-height: 155%;
  color: #193B67;
}

.services__more {
  padding: 0 10px;
  position: relative;
  padding-right: 20px;
}

.services__more::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: url("../../img/arrow-down.svg") center no-repeat;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  position: absolute;
  top: 0;
  right: 0;
}

.services__more:hover {
  cursor: pointer;
}

.services__more.active::before {
  -webkit-transform: translateY(25%) rotate(180deg);
          transform: translateY(25%) rotate(180deg);
}

.services__price {
  padding-right: 36.74px;
  margin-left: 10px;
}

.services__description {
  margin-top: 6px;
}

.description__label {
  color: #8591A3;
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
}

.description__text {
  font-size: 16px;
  line-height: 160%;
  color: #454F5C;
  margin-bottom: 15px;
}

.description__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.description__button {
  display: inline-block;
  background: #193B67;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 21.7px;
  padding: 15px 28px;
}

.description__button:hover, .description__button:active, .description__button:focus {
  color: #fff;
}

.description__button:hover {
  cursor: pointer;
}

.description__button_2 {
  color: #C31C22;
  background: #FFFFFF;
  border: 2px solid #C31C22;
  border-radius: 5px;
  margin-left: 10px;
}

.description__button_2:hover {
  color: #C31C22;
}

.doctors {
  background: url("../../img/doctors-bg.jpg") bottom no-repeat;
  background-size: contain;
  padding: 0 0 70px 0;
}

.doctors__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doctors__title {
  font-size: 50px;
  line-height: 62.5px;
  color: #193B67;
}

.doctors__button {
  padding: 16px 18px;
  border: 2px solid #193B67;
  border-radius: 5px;
  padding-left: 28px;
}

.doctors__button span {
  font-size: 14px;
  line-height: 145%;
  padding-right: 34px;
  position: relative;
}

.doctors__button span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: url("../../img/arrow-down.svg") center no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.doctors__slider {
  margin-top: 60px;
  overflow: visible;
}

.doctors__card {
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}

.doctors__card_info {
  padding: 25px 30px 35px 30px;
}

.doctors__img {
  width: 100%;
}

.doctors__label {
  font-size: 14px;
  line-height: 135%;
  color: #8591A3;
  display: block;
  margin-top: 25px;
}

.doctors__name {
  font-size: 18px;
  line-height: 135%;
  color: #19304C;
  margin-top: 10px;
}

.doctors__position {
  display: block;
  font-size: 14px;
  line-height: 145%;
  color: #454F5C;
  margin-top: 10px;
}

.doctors__navigation {
  top: 50% !important;
}

.doctors__navigation_next {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.doctors__navigation_prev {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.doctors__pagination {
  margin-top: 96px;
}

.clinic {
  padding: 60px 0 200px 0;
}

.clinic__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clinic__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.clinic__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 30px 30px 20px;
  background: #FFFFFF;
  border: 1px solid #ECF1F6;
  border-radius: 5px;
  margin-left: 30px;
  max-width: 870px;
}

.clinic__img {
  width: 100%;
}

.clinic__imgbox {
  min-width: 253px;
}

.clinic__info {
  margin-left: 30px;
}

.clinic__title {
  font-size: 20px !important;
  margin-bottom: 11px;
  line-height: 130%;
}

.clinic__address {
  display: block;
  margin-bottom: 20px;
}

.clinic__text {
  font-size: 14px;
  line-height: 145%;
  color: #454F5C;
}

.clinic__button {
  padding: 17px !important;
}

.clinic__button span {
  display: block;
  padding-left: 24px;
  position: relative;
  line-height: 14px;
}

.clinic__button span::before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
}

.medicin {
  padding: 90px 0 120px 0;
}

.medicin__header {
  font-size: 50px;
  line-height: 62.5px;
  color: #193B67;
  font-size: 30px;
  margin-bottom: 30px;
}

.medicin__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border: 1px solid #EFF4F7;
  border-radius: 5px;
  padding: 30px;
}

.medicin__card_block:last-child {
  margin-left: 30px;
}

.medicin__img {
  border-radius: 5px;
}

.medicin__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.medicin__button {
  display: block;
  display: inline-block;
  background: #193B67;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 21.7px;
  padding: 16px 28px;
  font-size: 12px;
  line-height: 155%;
}

.medicin__button:hover, .medicin__button:active, .medicin__button:focus {
  color: #fff;
}

.medicin__button:last-child {
  border: 2px solid #193B67;
  background: #fff;
  font-size: 12px;
  line-height: 155%;
  color: #193B67;
  border-radius: 5px;
}

.medicin__title {
  font-size: 27px;
  line-height: 120%;
  margin-bottom: 10px;
}

.medicin__text {
  font-size: 16px;
  line-height: 160%;
  color: #454F5C;
}

.works__title {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #19304C;
  margin-bottom: 26px;
}

.works__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__row {
  padding: 30px 25px 25px 25px;
  background: #EFF4F7;
  border-radius: 5px;
}

.works__image {
  position: relative;
}

.works__button {
  width: 26px;
  height: 26px;
}

.works__navigation {
  position: relative;
  right: 0;
}

.works__navigation_prev {
  position: absolute;
  left: -74px;
}

.works__navigation_next {
  position: absolute;
  left: -38px;
}

._before,
._in,
._after {
  position: relative;
  padding-bottom: 40px;
}

._before::before,
._in::before,
._after::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
  background: #193B67;
  text-align: center;
}

._before::before {
  content: 'До процедуры';
}

._in::before {
  content: 'В процессе работы';
}

._after::before {
  content: 'Результат процедуры';
}

.modal {
  margin: 0 0 120px 0;
  position: relative;
}

.modal__bg {
  position: absolute;
  display: block;
  width: 1230px;
  height: 501px;
  background: #EFF4F7;
  border-radius: 5px;
  z-index: -1;
  top: 30px;
  left: 145px;
}

.modal__content {
  background: url("../../img/modal-bg.jpg") center no-repeat;
  padding: 60px 570px 60px 70px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.modal__title {
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 532px;
}

.modal__text {
  font-size: 16px;
  line-height: 160%;
  color: #C8D4E4;
  max-width: 450px;
  margin-top: 20px;
}

.modal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 13px;
}

.modal__input {
  display: block;
  border-radius: 5px;
  padding: 18px 24px;
  padding-right: 44px;
  color: #BBD2F0;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
}

.modal__input:nth-child(1) {
  background: url("../../img/user 1.svg"), #5376A3;
  background-position: 87% 50%;
  background-repeat: no-repeat;
}

.modal__input:nth-child(2) {
  background: url("../../img/phone 2.svg"), #5376A3;
  background-position: 87% 50%;
  background-repeat: no-repeat;
}

.modal__agree {
  font-size: 12px;
  line-height: 160%;
  color: #FFFFFF;
}

.modal__href {
  color: #50D5FF;
  text-decoration: underline;
}

.modal__button {
  display: block;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 21px 47px rgba(12, 29, 52, 0.44);
          box-shadow: 0px 21px 47px rgba(12, 29, 52, 0.44);
  border-radius: 5px;
  font-size: 14px;
  line-height: 155%;
  color: #19304C;
  padding: 19px 32px;
  margin-top: 30px;
}

.modal__button span {
  display: block;
  position: relative;
  line-height: 20px;
  padding-right: 35px;
}

.modal__button span::before {
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
}

.medic {
  padding: 90px 0 100px 0;
}

.medic__title {
  font-size: 30px;
  line-height: 113%;
  color: #193B67;
  margin-bottom: 30px;
}

.medic__direction {
  background: #EFF4F7;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 5px solid #193B67;
  border-radius: 5px;
  padding: 20px 25px;
  margin-bottom: 25px;
}

.medic__direction_name {
  font-size: 16px;
  line-height: 120%;
  color: #19304C;
}

.medic__direction_numb {
  font-size: 14px;
  line-height: 120%;
  color: #8C97A5;
}

.medic__doctors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.medic__doctors_item {
  background: #FFFFFF;
  border: 1px solid #EFF4F7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
  margin-right: 10px;
  margin-bottom: 25px;
}

.spa {
  padding: 90px 0 100px 0;
}

.spa__title {
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 113%;
  color: #193B67;
}

.spa__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background: #FFFFFF;
  margin-bottom: 40px;
  border-radius: 5px;
}

.spa__navigation_object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 20px 0;
  border: 1px solid #EFF4F7;
  padding-left: 90px;
  position: relative;
}

.spa__navigation_object:first-child {
  border-radius: 5px 0 0 5px;
}

.spa__navigation_object::before {
  position: absolute;
  top: 25px;
  left: 30px;
  font-size: 40px;
}

.spa__navigation_object:last-child {
  padding-left: 30px;
  border-radius: 0 5px 5px 0;
}

.spa__navigation_object:hover {
  cursor: pointer;
}

.spa__navigation_object.active {
  background: #C31C22;
  color: #fff;
  border: none;
}

.spa__navigation_object.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  border: 17px solid transparent;
  border-top: 17px solid #C31C22;
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
}

.spa__navigation_object.active .spa__label,
.spa__navigation_object.active .spa__name {
  color: #ffffff;
}

.spa__label {
  font-size: 14px;
  line-height: 145%;
  color: #8591A3;
}

.spa__name {
  font-size: 20px;
  line-height: 145%;
  color: #193B67;
}

.hide {
  display: none;
}
