


.footer 
    background: #19304C
    color: #ADBAC9
    padding: 70px 0 53px 0
    &__map 
    &__footer 
    &__row 
        display: flex
        justify-content: space-between
        &:last-child
            margin-top: 65px
    &__column
        display: flex
        flex-direction: column
        justify-content: space-between
    &__logo 
    &__links 
        color: #ADBAC9
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0
    &__info 
    &__label 
    &__text 
    &__copyright 
    &__column_social 
    &__social 

