
$blue:  #193B67

@mixin buttons 
    display: inline-block
    background: $blue
    color: #ffffff
    border-radius: 5px
    font-size: 14px
    line-height: 21.7px
    &:hover,
    &:active,
    &:focus
        color: #fff


@mixin header
    font-size: 50px
    line-height: 62.5px
    color: #193B67
    
