@import 'header'
@import 'footer'

.container
    max-width: 1180px
    margin: 0 auto

body
    color: #193B67


a
    color: #193B67
    &:hover,
    &:active,
    &:focus
        color: #193B67
        
        
.wrapper
    min-height: 100%
    display: flex
    flex-direction: column

.page
    flex: 1 0 auto
    


.hide
    display: none


//Менюшка выбора языков
.language-menu 
    position: relative
    &__on 
        padding: 12px 15px
        background: #F3F7FA
        border-radius: 5px
        position: relative
        
    &__header
        position: relative
        padding: 0 28px 0 30px 
        font-size: 16px
        color: #8591A3
        &::before,
        &::after
            content: ""
            display: block
            position: absolute
            top: 0
            width: 20px
            height: 20px
        &::before
            left: 0
            transform: translateY(-10%)
            background: url('../../img/russia.svg') center no-repeat
        &::after
            right: 0
            background: url('../../img/arrow-down.svg') center no-repeat
        
        &:hover
            cursor: pointer
        
    &__items
        position: absolute
        bottom: 0   
        left: 0
        transform: translateY(100%)    
        
        padding-top: 4px
        width: 100%
        background: #193B67
        font-size: 16px
        color: #8591A3
        border-radius: 0 0 5px 5px
            
    &__item 

        padding: 5px 0 5px 15px
        &:hover
            cursor: pointer
            background: lighten(#193B67, 10% )
            color: #ffffff
        &:last-child
            border-radius: 0 0 5px 5px
        &_span
            padding: 5px 28px 5px 30px 
            position: relative
            display: block
            &::before
                content: ""
                display: block
                position: absolute
                top: 0
                width: 20px
                height: 20px
                left: 0
                transform: translateY(15%)
            &_RU
                &::before
                    background: url('../../img/russia.svg') center no-repeat 
            &_UK
                &::before
                    background: url('../../img/united-kingdom.svg') center no-repeat 
            


.circle_layout 
    background-color: transparent
    background: url("../../img/point.svg") center no-repeat
    position: absolute
    left: 0px
    top: -50px
    width: 46px
    height: 46px
